.header-text {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

@media screen and (max-width: 969px) {
    .responsive-font {
        font-size: 1.8em;
    }
}


.logo {
    
    .cls-1 {
      fill: #be1e1e;
    }

    .cls-1, .cls-9 {
      stroke: #425894;
      stroke-width: 4.4px;
    }

    .cls-1, .cls-3, .cls-4, .cls-8, .cls-9 {
      stroke-miterlimit: 10;
    }

    .cls-2 {
      fill: #405897;
    }

    .cls-3, .cls-4, .cls-9 {
      fill: none;
    }

    .cls-3 {
      stroke: #222220;
      stroke-width: 7.2px;
    }

    .cls-4 {
      stroke: #000206;
      stroke-width: 2.27px;
    }

    .cls-5 {
      fill: #fff;
    }

    .cls-6 {
      fill: #222220;
    }

    .cls-7 {
      fill: #000206;
    }

    .cls-8 {
      stroke: #fff;
    }

    .cls-8 {
        fill: whitesmoke;
        stroke: whitesmoke;
    }
}

// ------ logo stanimation  ----- //

// ------ HAND3 ----- //

.hand3 {
    animation: 0.8s ease-in-out 0s 1 hand3;
    transform: rotate(0deg);
    transform-origin: 10% 80%;
}

@keyframes hand3 {
    0% {
        transform: rotate(180deg);
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    80% {
        transform: rotate(-1deg);
        
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;
        
    }
}

// ------ HAND2  ----- //

.hand2 {
    animation: 0.9s ease-in-out 0s 1 hand2;
    transform: rotate(0deg);
    transform-origin: 10% 80%;

}

@keyframes hand2 {
    0% {
        transform: rotate(180deg);
    }
    
    40% {
        opacity: 0;
    }

    80% {
        transform: rotate(-1deg);   
    }

    100% {
        transform: rotate(0deg);
    }
}

// ------ HAND1  ----- //

.hand1 {
    animation: 1s ease-in-out 0s  1 hand1;
    transform: rotate(0deg);
    transform-origin: 20% 80%;
}

@keyframes hand1 {
    0% {
        transform: rotate(180deg);
    }

    40% {
        opacity: 0;
    }

    80% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.logo-wrapper {
    margin-top: 7rem;
    display: block;
    margin: auto;
}

.logo {
    animation: 0.3s ease-in-out 0s 1 polygon;
}

@keyframes polygon {
    0% {
        opacity: 0.5;
        transform: scale(.06);
    }

    80% {
        opacity: 0.9;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes text {
    0% {
        
        transform: scale(.06);
    }

    80% {
        
        transform: scale(0.9);
    }

    100% {
       
        transform: scale(1);
    }
}