body {
    margin: 0;
}


.logo {
height: 400px;
position: relative;
}

.logosvg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    margin-top: -300px;
    margin-left: -300px;
    transform: scale(0.7);
    opacity: 1;
    animation: 1s ease-in-out 0s 1 logosvg;
}

@keyframes logosvg {
    0% {
        transform: scale(0.9);
        opacity: 0;
        width: 600px;
        height: 600px;
        margin-top: -90px;
        margin-left: -300px;
    }

    40% {
        transform: scale(1);
        opacity: 1;
    }
    

    80% {
        transform: scale(1);
        opacity: 1;
        margin-top: -90px;
        margin-left: -300px;
    }

    100% {
        transform: scale(0.7);
        opacity: 1;  
        margin-top: -300px;
        margin-left: -300px;      
    }
}

@keyframes logo {
    0% {
    height: 100px;
    position: relative;
    }

    100% {
        height: 400px;
        position: relative;
        }
}
